In [1]:
import pandas as pd

In [2]:
d = {"Testpersoner": [1,2,3,4,5,6,7,8,9,10], 
     "Pulsklokke": ["Polar","Garmin","Garmin","Polar","Suunto","Polar","Polar","Garmin","Garmin","Garmin"],
     "Selvrapportert utmattelse": [9,8,9,6,7,9,10,7,5,7],
     "VO2max": [55.3,47.3,42.5,51.1,52.4,49.7,44.0,57.8,55.2,50.6],
     "Dagsform": ["Dårlig","Nokså god", "Nokså god", "God", "Dårlig", "Veldig Bra", "Veldg bra", "God","Dårlig", "God"]}

In [3]:
df = pd.DataFrame(d)
df

   Testpersoner Pulsklokke  Selvrapportert utmattelse  VO2max    Dagsform
0             1      Polar                          9    55.3      Dårlig
1             2     Garmin                          8    47.3   Nokså god
2             3     Garmin                          9    42.5   Nokså god
3             4      Polar                          6    51.1         God
4             5     Suunto                          7    52.4      Dårlig
5             6      Polar                          9    49.7  Veldig Bra
6             7      Polar                         10    44.0   Veldg bra
7             8     Garmin                          7    57.8         God
8             9     Garmin                          5    55.2      Dårlig
9            10     Garmin                          7    50.6         God